#chat {
	width: 98%;
	height: 300px;
	padding: 0;
	position: fixed;
	z-index: 1001;
	left: 1%;
	bottom: 29px;
	border: 1px solid #271f18;
	background: rgb(39, 31, 24);
	float: left;
	resize: both;
}



#chattext {
	border: 0;
	width: 100%;
	height: 10%;
	font-size: 10px;
	resize: none;
}

#chathead {
	width: 100%;
	height: 26px;
	background-color: #fbd850;
	padding: 2px;
}

#chattitle {
	width: 300px;
	height: inherit;
	padding: 5px;
	color: black;
	font-weight: bold;
	float: left;
}

#chatminimize {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 16px;
	line-height: 4px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}
#chatminimize:hover {
	background: red;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}
#chatsticky {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 16px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}
#chatsticky:hover {
	background: red;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}


#chatmaximize {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;


}
#chatmaximize:hover {
	background: red;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}


#chattabs {
	clear:both;
	widht: 100%;
	height: 16px;
	background-color: #18130f;
	padding: 3px;
}
#chattabs div {
	float:left;
	margin: 0 0 0 5px;
	padding: 0 3px 0 3px;
	background-color:  #AFD775;
	border:  1px solid red;
	color: #000 ;
	height: inherit;
	vertical-align: middle;
	display: table-cell;
}

#chattabs div:hover {
	background-color: #EFD279;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}

#chatbody {
}

#chatbody div {
	float: left;
	border: 1px solid black;
	padding: 5px;
}

#chatbody div:hover {
	float: left;
	border:  1px solid red;

}

#chatoutput {
	border: 0;
	width: 80%;
	height: 200px;
	font-size: 14px;
	padding: 0;
	margin: 0;
	resize: none;
	float: left;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 5px;
}

#userlist {
	width: 17%;
}

#userlist div {
	color: #fff;
	with: 100%;
	float: left;

}
#userlist div:hover {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}


#chatfeedback {
	border: 0;
	width: 100%;
	height: 16px;
	resize: none;
	font-size: 12px;
	padding: 0;
	background-color: #18130f;
	padding-bottom: 5px;
	color: yellow;
	clear:both;
}

#chatinput {
	width: 100%;
	height: 24px;
	resize: none;
	padding-left: 8px;
	background-color: #18130f;
	color: #fff;
	border: 1px solid #ffeeaa;
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: 0;

}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}