#chat {
	width: 96%;
	height: 230px;
	padding: 0.2%;
	position: fixed;
	z-index: 1001;
	left: 1.8%;
	bottom: 32px;
	border: 1px solid #271f18;
	background: rgb(39, 31, 24);
	float: left;
	resize: both;
	border: 1px solid #ffeeaa;
	-moz-border-radius-top:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border--radius:6px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 0px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
	opacity: 0.9;
}


/*
#chat-text {
	border: 0;
	width: 100%;
	height: 10%;
	font-size: 10px;
	resize: none;
}
*/

#chat-head {
	width: 100%;
	height: 26px;
	background-color: #fbd850;
	padding: 0;
	margin-bottom: 4px;
		-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}

/*
#chattitle {
	width: 300px;
	height: inherit;
	padding: 5px;
	color: black;
	font-weight: bold;
	float: left;
}
*/

#chat-minimize {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 16px;
	line-height: 4px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	margin-right:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}
#chat-minimize:hover {
	background: red;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}
#chat-sticky {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 16px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}
#chat-sticky:hover {
	background: red;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
}


#chat-maximize {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;


}



#chat-dock:hover {
	background: red;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


#chat-dock {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;


}
#chat-dock:hover {
	background: red;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


#chat-max:hover {
	background: red;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


#chat-max {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	float: right;
	padding: 3px;
	margin: 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;


}
#chat-max:hover {
	/*
	background: red;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


#chat-tabs {
	widht: 40%;
	float: left;
}
#chat-tabs div {
	background: #adff2f;
	color: black;
	font-weight: bolder;
	border: 1px solid black;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	float: left;
	padding: 3px;
	margin: 2px;
	margin-left: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border--radius:4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
	height: 12px;
}

#chat-tabs div:hover {
	background-color: #EFD279;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}

#chat-body {
}

#chat-body div {
	float: left;

}
/*
#chatbody div:hover {
	float: left;
	border: 1px solid #ffeeaa;

}
*/
#chat-output {
	border: 0;
	width: 80%;
	height:194px;
	resize: none;
	font-size: 14px;
	padding-top:8px;
	padding: 0;
	margin: 0;
	resize: none;
	float: left;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 5px;
}

#chat-users {
	width: 17%;
}

#chat-users div {
	color: #fff;
	with: 100%;
	float: left;

}

#chat-users div:hover {
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


#chat-feedback {
	border: 0;
	width: 100%;
	height: 16px;
	resize: none;
	font-size: 12px;
	padding: 0;
	background-color: #18130f;
	padding-bottom: 5px;
	color: yellow;
	clear:both;
}

#chat-input {
	width: 95.4%;
	height: 24px;
	resize: none;
	background-color: #18130f;
	color: #fff;
	border: 1px solid #ffeeaa;
	position: absolute;
	z-index: 1500;
	padding-left: 1%;
	left: 1.7%;
	bottom: 3px;
	-moz-border-radius-top:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border--radius:6px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
	opacity: 0.9;

}

/* Chat text line */

.chat-line {
	border: 0px;
	position: relative;
	width: 100%;
}

.chat-line div {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.chat-line-time {
	float: left;
	width: 100px;
	font-color: #aaa;
}

.chat-line-name {
	float: left;
	width: 150px;
	font-color: #fff;
}

.chat-line-text {
	float: none;
	font-color: #ccc;
}

/* Console text line */

.console-line {
	border: 0px;
	position: relative;
	width: 100%;
}

.console-line div {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}

/* Monitor text line */

.monitor-line {
	border: 0px;
	position: relative;
	width: 100%;
}

.monitor-line div {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}




@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}
