#chat {
	width: 80%;
	height: 35%;
	padding: 0;
	position: fixed;
	z-index: 1001;
	left: 10%;
	bottom: 10px;
	border: 1px solid #271f18;
	background: rgb(39, 31, 24);
	float: left;
	resize: both;
}

#chattrigger {
	width: 100%;
	height: 10px;
	padding: 0;
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: 0;
	border: 0;
	opacity: 0.8;
	background: rgb(34, 27, 22);
}

#chattext {
	border: 0;
	width: 100%;
	height: 10%;
	font-size: 10px;
	resize: none;
}

#chathead {
	width: 100%;
	height: 10%;
	background-color: #fbd850;
}

#chattitle {
	width: 100%;
	height: 10%;
	padding: 0;
	color: black;
	font-weight: bold;

}

#chatminimize {
	width:12px;
	height: 12px;
	background: #adff2f;
	color: black;
	font-weight: bold;
	text-align: center;
	float: right;
}

#chattabs div {
	float:left;
	margin: 3px 1px 1px 0px;
	padding: 2px;
	background-color:  #AFD775;
	border:  1px solid red;
	color: #000 ;
}

#chattabs div:hover {
	background-color: #EFD279;
	
}

#chatbody {
}

#chatbody div {
	float: left;
	border: 1px solid black;
	padding: 5px;
}

#chatbody div:hover {
	float: left;
	border:  1px solid red;
}

#chatoutput {
	border: 0;
	width: 80%;
	height: 120px;
	font-size: 14px;
	padding: 0;
	margin: 0;
	resize: none;
	float: left;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 5px;
}

#userlist {
	width: 17%;
}

#userlist div {
	color: #fff;
	with: 100%;
	float: left;
}


#chatfeedback {
	border: 0;
	width: 100%;
	height: 2%;
	resize: none;
	font-size: 12px;
	padding: 0;
	background-color: #18130f;
	padding-bottom: 5px;
	color: yellow;
	clear:both;
}

#chatinput {
	width: 98%;
	height: 8%;
	resize: none;
	background-color: #3c3026;
	color: #fff;
}
