
/* Mixins */

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;	
	-khtml-border-radius: @radius;
}


#dashboard-tags-container {
	width: 100%;
	height: 20px;
	padding: 2px;
}

#dashboard-items-container {
	width: 100%;
	padding: 2px 0px 0px 16px;
}

#dashboard {

    float:none;
    clear: both;

}

#sortable {

    float:none;
    clear: both;

}