
/* Mixins */

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;	
	-khtml-border-radius: @radius;
}


#dashboard-tags-container {

	height: 20px;
	padding: 2px;
	position: fixed;

	top: 80px;
	right:24px;
}

#dashboard-items-container {
	width: 100%;
	padding: 2px 0px 0px 16px;

}

#dashboard {
	margin-right:30px;
    float:none;
    clear: both;

}

#sortable {

    float:none;
    clear: both;

}