.GridBox {
	cursor: pointer;
	width: 85px;
	height: 85px;
	float: left;
	padding: 2px;
	margin: 1px;
	border: 1px solid #151515;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ItemGridBox {
	cursor: pointer;
	background-color: #2f2f2f;
	border: 1px solid #151515;
	opacity: 0.9;
}

#GridBox:hover {
	background-color: #3c443a;
	border: 1px solid green;
	opacity: 1;
/*	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;*/

}

.ScriptGridBox {
	background-color: #252525;
	border: 1px solid #151515;
	opacity: .7;
}

.ScriptGridBoxHover {
	background-color: #443a3a;
	border: 1px solid red;
	opacity: 1;
}

.TeleportGridBox {
	cursor: pointer;
	background-color: #202020;
	border: 1px solid #151515;
	opacity: .7;
}

.TeleportGridBoxHover {
	background-color: #3a3b44;
	border: 1px solid blue;
	opacity: 1;
}

/*
#items .box {
	cursor: pointer;
	width: 85px;
	height: 85px;
	float: left;
	padding: 2px;
	border: 1px solid #151515;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
*/

.STlabel {
	width: 100px;
	float: left;
	padding-left: 20px;
}

.STinput {
	width: 300px;
}

.spaceHR {
	border: 0;
	height: 0;
}

.IDlabel {
	font-size: 12px;
	line-height: 18px;
}

.Namelabel {
	padding: 3%;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}

.STicon {
	width: 32px;
	height: 32px;
}

.STiconHover {
	width: 64px;
	height: 64px;
}

.ctlPlMi {
	float: left;
	width: 20%;
	height: 20%;
	padding: 0;
	font-size: 10px;
	border: 0;
	vertical-align: middle;
	text-align: center;
	cursor: crosshair;

	background-color: #2f2f2f;

}

#ctlMinus, #ctlPlus {
	opacity: .4;

}

#ctlMinus:hover {
	float: left;
	background-color: gray;
	width: 20%;
	height: 20%;
	padding: 0;
	font-size: 11px;
	font-weight: bolder;
	vertical-align: middle;
	text-align: center;
	cursor: crosshair;
	visibility: visible;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	visibility: visible;
}

#ctlPlus:hover {
	float: left;
	background-color: gray;
	width: 20%;
	height: 20%;
	padding: 0;
	font-size: 11px;
	font-weight: bolder;
	vertical-align: middle;
	text-align: center;
	cursor: crosshair;
	visibility: visible;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	visibility: visible;
}

.varAmountbox {
	color: white;
	float: left;
	font-size: 11px;
	background-color: transparent;
	height: 20%;
	width: 60%;
	border: 1;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
}

.StatusText {
	text-shadow: #000 2px -2px 1px, #ffa500 -0.1em 0.1em 0.1em, #cc6600 -1px -2px 0px;
	color: #ffff00;

	font-weight: 600;
	font-size: 20px;
	float: left;

	padding-left: 100px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 10px;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

#itemsgrid {
	widht: 100%;
	height: 16px;
	background-color: #18130f;
	margin-bottom: 5px;
	clear: both;
	float: none;
}



#ItemTag {
	float: left;
	margin: 0 4px 0 4px;
	padding: 0 8px 0 8px;
	background-color: #AFD775;
	border: 1px solid #ffeeaa;
	color: #000;
	height: inherit;
	vertical-align: middle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border--radius: 4px;
	-khtml-box-shadow: 1px 1px 1px 1px #333300;
	-moz-box-shadow: 1px 1px 1px 1px #333300;
	-webkit-box-shadow: 1px 1px 1px 1px #333300;
	box-shadow: 1px 1px 1px 1px #333300;
}

#ItemTag:hover {
	background-color: #EFD279;
	/*
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 10;
	*/
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}
