/* Mixins */

.debugbox {
//	border: 1px #222 solid;
}

.rounded-corners (@radius: 3px) {
	border-radius: @arguments;
	-webkit-border-radius: @arguments;
	-moz-border-radius: @arguments;	
	-khtml-border-radius: @arguments;
}


.button (@color-text: #fff, @color-background: #000, @color-border: #fff, @radius: 4px) {
    color: @color-text;
    cursor: pointer;
    background-color: @color-background;
    border: 1px solid @color-border;
	opacity: 0.8;
    text-align: center;
	.rounded-corners (@radius);
	
	&:hover {
	    color: lighten(@color-text, 20%);
	    background-color: lighten(@color-background, 20%);
	    border: 1px solid lighten(@color-border, 20%);
	    opacity: 1.0;
	}
	
	&.selected {
	    color: lighten(@color-text, 40%);
	}
}

.top-button  {
		display: block;
	    float: left;
		cursor: pointer;
		width: 80px;
	    height: 16px;
	    padding:  4px 10px 4px 10px;
		margin-right: 5px;
	    color: @color-nav-text;
		background-color: @color-nav-background;
	    font-size: 12px;
		font-weight: bold;
		text-align: center;
		border: 1px solid @color-nav-border;
		border-top-style: none;
}

.style-input {
	height: 20px;
	padding-left: 4px;
	color: @color-text;
	background-color: @color-background-input;
	border: 1px solid @color-border-input;
	font-size: 12px;
	.rounded-corners(5px);
}

.style-button {
	cursor: pointer;
	text-align: center;
	height: 18px;
	padding-top: 6px;
	color: @color-text;
	background-color: @color-background-input;
	border: 1px solid @color-border-input;
	font-size: 12px;
	line-height: 12px;
	.rounded-corners(6px 6px 0px 0px);
	
	&:hover {
		color: @color-text-hover;
		border: 1px solid @color-border-input-hover;
	}
}

.transform (@value) {
	-webkit-transform: rotate(@arguments);
	-moz-transform: rotate(@arguments);
}

.shadow (@value) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}
