/* Mixins */

.debugbox {
//	border: 1px #222 solid;
}

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;	
	-khtml-border-radius: @radius;
}

.button (@color-text: #fff, @color-background: #000, @color-border: #fff, @radius: 4px) {
    color: @color-text;
    cursor: pointer;
    background-color: @color-background;
    border: 1px solid @color-border;
	opacity: 0.8;
    text-align: center;
	.rounded-corners (@radius);
	
	&:hover {
	    color: lighten(@color-text, 20%);
	    background-color: lighten(@color-background, 20%);
	    border: 1px solid lighten(@color-border, 20%);
	    opacity: 1.0;
	}
	
	&.selected {
	    color: lighten(@color-text, 40%);
	}
}

.transform (@value) {
	-webkit-transform: rotate(@arguments);
	-moz-transform: rotate(@arguments);
}
