
.debugbox {
	border: 1px #222 solid;
}

.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;	
	-khtml-border-radius: @radius;
}

.transform (@value) {
	-webkit-transform: rotate(@arguments);
	-moz-transform: rotate(@arguments);
}

#session-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
}

#session-footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

#session-pane {
	position: absolute;
	left: 50%;
	top: 40%;
	width: 400px;
	height: 240px;
	margin-top: -120px;
	margin-left: -200px;
	border: 1px #222 solid;
	font-size: 14px;
	.rounded-corners(10px);
}

#session-logo {
    float: left;
	width: 100%;
	height: 60px;
    background: url('/images/logo.png') no-repeat;
}

#session-alpha {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 50%;
	top: 40%;
	margin-top: -180px;
	margin-left: 120px;
    background: url('/images/alpha.png') no-repeat;
	.transform(20deg);
}


#session-message {
	float: left;
	width: 320px;
	height: 30px;
	padding-top: 12px;
	padding-left: 80px;
	margin-top: 5px;
	margin-bottom: 12px;
	text-align: left;
	background-color: #111;
	#warn {
		float: left;
		color: #a66;
		padding-right: 10px;
	}
	
	#help {
		cursor: pointer;
		color: #aaa;
		font-weight: bold;
	}
	
	#help:hover {
		color: #eee;
	}
}

#session-form {
	width: 400px;
	padding-top: 15px;
	padding-left: 80px;
	
	.session-form-label {
		float: left;
		width: 100px;
		margin-top: 8px;
	}
	
	.session-form-input {
		float: left;
		width: 200px;
		height: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #aaa;
		background-color: #111;
		border: 1px solid #fff;
		font-size: 12px;
		.rounded-corners(5px);
	}
	
	.session-form-submit {
		float: left;
		width: 100px;
		margin-top: 10px;
		margin-left: 205px;
		background-color: #111;
		color: #aaa;
		border: 1px solid #fff;
		font-size: 12px;
		.rounded-corners(5px);
		
		&:hover {
			color: #fff;
		}
	}
}


.block-msg {
	padding: 10px;
	margin: 0px;
	width: 500px;
	height: 200px;
	top: 40%;
	left: 50%;
	margin-left: -250px;
	margin-top: -100px;
	text-align: left;
	background: #000;
	color: #aaa;
	border: 3px solid #fff;
	.rounded-corners(10px);
	
	h1 {
		font-size: 16px;
		color: #fff;
	}
	
	p.code {
		font: 14px monospace;
		color: #ccc;
	}
	
	.close {
		position: absolute;
		float: right;
		text-align: center;
		padding-top: 4px;
		bottom: 10px;
		right: 10px;
		width: 100px;
		height: 17px;
		background-color: #111;
		color: #aaa;
		border: 1px solid #fff;
		font-size: 12px;
		cursor: pointer;
		.rounded-corners(5px);
		
		&:hover {
			color: #fff;
		}
	}
}
