
// Configuration options
var config = {
	
	// Minecraft server configuration options
	server: {
		java: '/usr/bin/java',
		java_args: ['-Xmx1024M', '-Xms1024M'],
		dir: '/opt/mcserver/',
		jar: 'minecraft_server.jar',
		server_args: ['nogui'],
	},
	
	// Web server configuration options
	web: {
		port: 1337,
	},

	// Telnet server configuration options
	telnet: {
		port: 1338,
	},
	
};


module.exports.config = config;
