script(src='/scripts/lib/socket.io.js')
script(src='/scripts/config.js')
script(src='/scripts/chat.js')
script(src='/scripts/users.js')
script(src='/scripts/dashboard.js')
script(src='/scripts/socket.js')
script(src='/scripts/main.js')
script(src='/scripts/home.js')

#header
	#logo
	#navigation
	- if(session.user)
		a(href='/sessions/destroy')
			#navTabUser
				#user= session.user.name
	- else
		a(href='/login')
			#navTabUser Login
	- if(flash.warn)
		p#warn= flash.warn
	a(href='/voodoo', title='Dashboard') 
		#navTab Dashboard
	a(href='https://oom.ch/wiki/index.php/Minecraft', title='Local Community Minecraft Wiki') 
		#navTab Wiki
	a(href='http://mc.oom.ch/map/#/67/64/110/-4/mcmapNormal', title='Minecraft Map') 
		#navTab Map
	a(href='http://www.minecraft.net/game/', title='Minecraft Browser Client') 
		#navTab Play
	a(href='/help', title='View login page') 
		#navTab Help
#dashboard
	#navigation
		- each user in users
			a(href='javascript:teleport();')
				#navTabUser
					#user= user.name
	#itemtags
	#items
#livemaps

#wikis


#chat
	#chathead
		#chattitle Title
		#chathide
	#chattabs Tabs:
		#chanConsole Console
		#chanGlobal Global
		#chanUsers Users
		#chanAdmin Admins
		#wispers Wispers

	#chatbody
		#chatoutput
		#userlist
			#user1 user1
			#user2 user2
			#user3 user3
			#user4 user4
			#user5 user5
	#chatfeedback
	input(type='text', name='chatinput', id='chatinput')
#chattrigger
#footer
#effect
.ui-widget-content
.ui-corner-all
	#notify