script(src='/scripts/lib/socket.io.js')
script(src='/scripts/config.js')
script(src='/scripts/client.js')
script(src='/scripts/chat.js')
script(src='/scripts/users.js')
script(src='/scripts/dashboard.js')
script(src='/scripts/main.js')

#header
	#logo minejs - frontend
	// TODO fix flash
	- if(flash.warn)
		p#warn= flash.warn
	- if (session.user)
		#session
			#session-info
				| logged in as
				span(id='session-user') #{session.user.name}
				| .
			a(href='/sessions/destroy')
				#session-logout Logout
#nav
		#nav-dash Dashboard
		#nav-wiki Wiki
		#nav-mapi Maps
#subnav

#main-pane
	#dashboard
		#dashboard-tags-container
			#dashboard-tags
		#dashboard-items-container
			#dashboard-items
	#livemaps
	#wikis

#chat
	#chat-head
		#chat-tabs
			#chat-tab-chat Chat
			#chat-tab-console Console
			#chat-tab-monitor Monitor
		#chat-options
			#chat-max(title='Maximize') +
			#chat-min(title='Minimize') -
			#chat-hide(title='Hide') x

	#chat-body
		#chat-output
			#chat-output-chat
			#chat-output-console
			#chat-output-monitor
		#chat-users

input(type='text', name='chat-input', id='chat-input')

#effect

#notify