script(src='scripts/lib/socket.io.js')
script(src='scripts/config.js')
script(src='scripts/chat.js');
h1 Frontend
#chat
	#userlist
	#chat_output
	input(type='text', name='chat_input', id='chat_input')
