// Load libraries
script(src='/scripts/lib/socket.io.js')
script(src='http://maps.google.com/maps/api/js?sensor=false')

// Load client side configuration
script(src='/scripts/config.js')

// Load overviewer
script(src='/overviewer/overviewerConfig.js')
script(src='/overviewer/overviewer.js')
script(src='/scripts/lib/markerwithlabel.min.js')

// Load client side scripts
script(src='/scripts/client.js')
script(src='/scripts/chat.js')
script(src='/scripts/dashboard.js')
script(src='/scripts/map.js')
script(src='/scripts/main.js')


#header
	#logo
	// TODO fix flash
	- if(flash.warn)
		p#warn= flash.warn
	- if (session.user)
		#session
			#session-info
				| logged in as
				span(id='session-user') #{session.user.name}
			a(href='/sessions/destroy')
				#session-logout Logout
#nav

#nav-sub
	#nav-sub-dashboard

#main-panel
	#panel-dashboard
		#dashboard-items-container
			#dashboard-items
	#panel-map
	#panel-game
	#panel-wiki
	#panel-help
		#h1 Help

#chat
	#chat-head
		#chat-tabs
			#chat-tab-chat Chat
			#chat-tab-console Console
			#chat-tab-monitor Monitor
		#chat-options
			#chat-max(title='Maximize') +
			#chat-min(title='Minimize') -
			#chat-hide(title='Hide') x
	#chat-body
		#chat-users
		#chat-output
			#chat-output-chat
			#chat-output-console
			#chat-output-monitor

input(type='text', name='chat-input', id='chat-input')

#yellfeed

#effect
