script(src='/scripts/lib/socket.io.js')
script(src='/scripts/config.js')
script(src='/scripts/chat.js')
script(src='/scripts/users.js')
script(src='/scripts/items.js')
script(src='/scripts/socket.js')
script(src='/scripts/main.js')

#header
	#logo
	// TODO fix flash
	- if(flash.warn)
		p#warn= flash.warn
	- if (session.user)
		#session
			#session-info
				| logged in as
				span(id='session-user') #{session.user.name}
				| .
			a(href='/sessions/destroy')
				#session-logout Logout
	#nav
		a(href='/voodoo', title='Dashboard')
			#nav-tab Dashboard
		a(href='https://oom.ch/wiki/index.php/Minecraft', title='Local Community Minecraft Wiki')
			#nav-tab Wiki
		a(href='http://mc.oom.ch/map/#/67/64/110/-4/mcmapNormal', title='Minecraft Map')
			#nav-tab Map
		a(href='http://www.minecraft.net/game/', title='Minecraft Browser Client')
			#nav-tab Play
		a(href='/help', title='View login page')
			#nav-tab Help
#upper-pane
	#dashboard
		#itemtagcontainer
			#itemTags
		#itemcontainer
			#items 
	#livemaps
	#wikis
#lower-pane
	#chat
		#chathead
			//#chattitle Title
			#chattabs
				#chanConsole(onClick='alert("Console")') Console
				#chanGlobal(onClick='alert("Global")') Global
				#chanUsers(onClick='alert("Users")') Users
				#chanAdmin(onClick='alert("Admins")') Admins
				#wispers(onClick='alert("wisper")') wisper
			#chatminimize(title='Minimize') _
			#chatdock(title='Docking') []
			#chatsticky(title='Sticky', onClick='chatSticky') o
			#chatmax(title='Maximize') XL

		#chatbody
			#chatoutput
			#userlist

	input(type='text', name='chatinput', id='chatinput')

//#effect
//.ui-widget-content
//.ui-corner-all
//	#notify