script(src='/scripts/lib/socket.io.js')
script(src='/scripts/config.js')
script(src='/scripts/chat.js')
script(src='/scripts/users.js')
script(src='/scripts/dashboard.js')
script(src='/scripts/socket.js')
script(src='/scripts/main.js')

#header
	#logo
	// TODO fix flash
	- if(flash.warn)
		p#warn= flash.warn
	- if (session.user)
		#session
			#session-info
				| logged in as
				span(id='session-user') #{session.user.name}
				| .
			a(href='/sessions/destroy')
				#session-logout Logout
	#nav
		a(href='/', title='Dashboard')
			#nav-tab Dashboard
		a(href='https://oom.ch/wiki/index.php/Minecraft', title='Local Community Minecraft Wiki')
			#nav-tab Wiki
		a(href='http://mc.oom.ch/map/#/67/64/110/-4/mcmapNormal', title='Minecraft Map')
			#nav-tab Map
		a(href='http://www.minecraft.net/game/', title='Minecraft Browser Client')
			#nav-tab Play
		a(href='/help', title='View login page')
			#nav-tab Help
#upper-pane
	#dashboard
		#dashboard-tags-container
			#dashboard-tags
		#dashboard-items-container
			#dashboard-items
	#livemaps
	#wikis
#lower-pane
	#chat
		#chat-head
			#chat-tabs
				#chat-tab-chat Chat
				#chat-tab-console Console
				#chat-tab-monitor Monitor
			#chat-minimize(title='Minimize') _
			#chat-dock(title='Docking') []
			#chat-sticky(title='Sticky') o
			#chat-max(title='Maximize') XL

		#chat-body
			#chat-output
				#chat-output-chat
				#chat-output-console
				#chat-output-monitor
			#chat-users

	input(type='text', name='chat-input', id='chat-input')

//#effect
//.ui-widget-content
//.ui-corner-all
//	#notify