!!! 5
html(lang="de")
	head
		title minejs - frontend
		link(rel='stylesheet/less', href='/stylesheets/main.less')
		link(rel='stylesheet/less', href='/stylesheets/items.less')
		script(src='/scripts/lib/jquery.jfeed.pack.js')
		script(src='/scripts/lib/jquery-1.6.2.min.js')
		script(src='/scripts/lib/jquery-ui-1.8.14.custom.min.js')
		script(src='/scripts/lib/jquery.cookie.js')
		script(src='/scripts/lib/jquery.tmpl.min.js')
		script(src='/scripts/lib/less-1.1.4.min.js')
		script
			less.env = 'development';
		script(src='/scripts/lib/date.js')
	body
		#fullscreen!= body
