!!! 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='scripts/lib/jquery-1.5.1.min.js')
		script(src='scripts/lib/jquery.cookie.js')
		title minejs frontend

	body
		#main
			#header
			- if(session.user)
				#user= 'logged in as ' + session.user.name
				#logout
					a(href='/sessions/destroy') logout
			- if(flash.warn)
				p#warn= flash.warn
			#content!= body
