!!! 5
html(lang="de")
	head
		title minejs - frontend
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/items.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		script(src='/scripts/lib/jquery-1.5.1.min.js')
		script(src='/scripts/lib/jquery-ui-1.8.13.custom.min.js')
		script(src='/scripts/lib/jquery.cookie.js')
		script(src='/scripts/lib/jquery.tmpl.min.js')
		script(src='/scripts/lib/date.js')
	body
		#fullscreen!= body
