script(src='/scripts/session.js')

#session-header

#session-panel
	#session-logo
	#session-message
		- if(flash.warn)
			#warn= flash.warn
		- else
			| Enter your username and password
		| (need
		span(id='help') help
		| ?)

	#session-form
		form(action='/sessions', method='POST')
			input(type='hidden', name='redir', value=redir)
			#session-form-row
				label(for='username', class='session-form-label') User:
				input(type='text', class='session-form-input', name='username', id='username')
			#session-form-row
				label(for='password', class='session-form-label') Password:
				input(type='password', class='session-form-input', name='password', id='password')
			#session-form-row
				input(type='submit', class='session-form-submit' )

#session-alpha

#session-footer
