h1 Login
form(action='/sessions', method='POST')
	input(type='hidden', name='redir', value=redir)
	#row1
		label(for='username') User:
	#row2
			input(type='text', name='username', id='username')
	#row1
		label(for='password') Password:
		input(type='password', name='password', id='password')
	#row2
		input(type='submit')
